/*----------------------------------------------------------------------------*/
/*                        _      _                 _   _                      */
/*                       | |    | |               | | | |                     */
/*                    ___| |_ __| |_ __ ___   __ _| |_| |_                    */
/*                   / __| __/ _` | '_ ` _ \ / _` | __| __|                   */
/*                   \__ \ || (_| | | | | | | (_| | |_| |_                    */
/*                   |___/\__\__,_|_| |_| |_|\__,_|\__|\__|                   */
/*                                                                            */
/*                                                                            */
/*  File      : main.css                                                      */
/*  Project   : lissajous                                                     */
/*  Date      : 14 Dec, 21                                                    */
/*  License   : GPLv3                                                         */
/*  Author    : stdmatt <stdmatt@pixelwizards.io>                             */
/*  Copyright : stdmatt - 2021                                                */
/*                                                                            */
/*  Description :                                                             */
/*                                                                            */
/*---------------------------------------------------------------------------~*/

/*----------------------------------------------------------------------------*/
html {
    width:  100%;
    height: 100%;
    margin: 0;
}

/*----------------------------------------------------------------------------*/
body {
    width:  100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

/*----------------------------------------------------------------------------*/
#canvas_div {
    position:fixed;

    top   : 10%;
    bottom: 15%;
    right : 10%;
    left  : 10%;

    box-shadow:5px 8px 10px 0px #b3b2b2f7;
    text-align: center;
}
